.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  width: 60vw;
  height: 550px;
  border-radius: 11px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px 2px gray;
}

.stepSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
  background: gray;
  border-radius: 11px;
  margin-left: 15px;
  position: relative;
}

.navContainer {
  padding: 30px;
  background-color: pink;
  border-radius: 11px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.headerText {
  font-size: 30px;
  padding-bottom: 10px;
}

.descriptionText {
  font-size: 18px;
}

.submitButton {
  padding: 10px 20px;
  font-size: 15px;
  background: navy;
  color: white;
  border: 0px;
  border-radius: 5px;
  position: absolute;
  right: 2vw;
  bottom: 30px;
}

.card {
  padding: 20px;
  width: 150px;
  height: 200px;
  background: white;
  border-radius: 12px;
  margin: 15px;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: block;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
}
