.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  width: 60vw;
  height: 550px;
  border-radius: 11px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px 2px gray;
}

.stepSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
  background: gray;
  border-radius: 11px;
  margin-left: 15px;
}

.navContainer {
  padding: 30px;
  background-color: pink;
  border-radius: 11px;
}
